@font-face { font-family: amiri; src: url('AmiriQuran-Regular.ttf'); }
@font-face { font-family: hafs; src: url('hafs.ttf'); }
@font-face { font-family: uthman; src: url('uthman.ttf'); }

body {
	overflow-y: scroll;
	background-color: #E6E6FA;
	margin: 0;
	font-size: 16px;
	font-family: Arial, sans-serif;
	color: #555;	
}

.qur {
    direction: rtl;
	font-family: hafs;
    font-size: 21px;
}

main {
	margin: 0px auto;
	max-width: 50rem;
	width: 95%;
	margin-bottom: 200px;
	display: flex;
	flex-direction: column;
	gap: 20px; /* Space between each container group */
}

.name {
	font-size: 15px;
	color: #555;
	font-weight: bold;
	display: block;
	text-align: center;
	margin: 40px 20px;
}

.container-group {
	display: flex;
	gap: 20px; /* Space between containers within the group */
}

.container {
	flex: 1;
	padding: 20px;
	background-color: lightgray;
	border: 1px solid #ddd;
}

.container1 {
	background-color: #d1e7dd; /* Light green */
	text-align: left;
}

.container2 {
	background-color: lightyellow;
	text-align: center;
}

ul {
	padding: 0 10px;
}

li {
	padding-bottom: 10px;
}

@media (max-width: 600px) {
	.container-group {
		flex-direction: column;
		}
	}
